* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.contain {
    background-image: url('https://wallpapercave.com/wp/wp5393135.jpg');
    background-size: cover;
    background-position: center;

}

.music-breadcrumb {
    width: 100%;
}

.card-song {
    height: 420px;
}

.img-song {
    width: 100%;
    height: 150px;
    min-height: 150px;
    min-width: 100%;
    background-size: cover;
}

.title-song {
    font-size: 24px;
    font-weight: bold;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.desc-song {
    font-size: 18px;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    min-height: 108px;
    max-height: 108px;
}

.desc-song-detail {
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    min-height: 150px;
    max-height: 150px;
}

.title-detail-song {
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: end;
}

.title-detail-sm-song {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.badge-song {
    margin-left: 20px;
}

.fix {
    margin-bottom: 5.5rem !important;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.detail-card {
    color: initial;
    transition: transform 0.2s linear;
}
.detail-card:hover {
    text-decoration: none;
    color: initial;
    transform: translateY(-2px);
}

.comment-wrapper {
    height: 568px;
    max-height: 100%;
    overflow-y: scroll;
}

.comment-wrapper::-webkit-scrollbar {
    display: none;
}

// profile 
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }


.form-change-profile {
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-image: url('https://th.bing.com/th/id/OIP.ze87PwznSisJ8rxvY9lIJgHaEB?pid=ImgDet&rs=1');
    background-repeat: no-repeat;
    background-size: cover;
}

.comment-item:nth-of-type(4n) {
    background-color: #fff0c0;
}
.comment-item:nth-of-type(4n+1) {
    background-color: #ceffd2;
}
.comment-item:nth-of-type(4n+2) {
    background-color: #ffcced;
}
.comment-item:nth-of-type(4n+3) {
    background-color: #ccdaff;
}

.comment-item + .comment-item {
    margin: 12px 0px;
}

.comment-item {
    border: 1px solid #ccc;
}

.form-edit {
    padding: 50px 25px 100px;
    background-color: #fff0c0;
    border-radius: 12px;
}