<div class="container py-4">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card card-admin">
                <div class="image-admin-wrapper hover-overlay ripple" data-mdb-ripple-color="light">
                    <img width="100%"
                        src="https://th.bing.com/th/id/OIP.4NS60lpVz86jGfajDZSWigHaEo?w=289&h=180&c=7&r=0&o=5&pid=1.7" />
                </div>
                <div class="card-body">
                    <h5 class="card-title text-nowrap">ADD A NEW SONG</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="/myadmin/create" class="btn btn-danger btn-lg">ADD NOW</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card card-admin">
                <div class="image-admin-wrapper hover-overlay ripple" data-mdb-ripple-color="light">
                    <img width="100%"
                        src="https://th.bing.com/th/id/OIP.Ygx2mWPsY4ps7mVDpz7peAHaEo?w=286&h=180&c=7&r=0&o=5&pid=1.7" />
                </div>
                <div class="card-body">
                    <h5 class="card-title text-nowrap">MY SONG</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="/myadmin/myMusic" class="btn btn-success btn-lg">LET'S GO</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card card-admin">
                <div class="image-admin-wrapper hover-overlay ripple" data-mdb-ripple-color="light">
                    <img width="100%"
                        src="https://th.bing.com/th/id/OIP.va42cJa8GagUD4pK0giCJgHaEK?w=290&h=180&c=7&r=0&o=5&pid=1.7" />
                </div>
                <div class="card-body">
                    <h5 class="card-title text-nowrap">MANAGEMENT ACCOUNT</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="/myadmin/account" class="btn btn-warning btn-lg">MANAGE</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="card card-admin">
                <div class="image-admin-wrapper hover-overlay ripple" data-mdb-ripple-color="light">
                    <img width="100%"
                        src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" />
                </div>
                <div class="card-body">
                    <h5 class="card-title text-nowrap">MORE FEATURE</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="/myadmin/more" class="btn btn-info btn-lg">MANAGE</a>
                </div>
            </div>
        </div>
    </div>
</div>