<nav class="pt-2" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/myadmin">Admin Page</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add A New Song</li>
  </ol>
</nav>

<div class="container py-4">
    <form style="padding: 24px 24px 120px; background-color: rgb(255, 184, 91);" class="rounded" method="post" action="/myadmin/stored">
        <div class="row mb-4">
            <div class="col">
                <label class="text-white" for="name">
                    <i class="fa-solid fa-file-signature text-danger"></i>
                    Name
                </label>
                <input name="name" type="text" id="name" class="form-control" placeholder="Song Name" required="required">
            </div>
            <div class="col">
                <label class="text-white" for="author">
                    <i class="fa-solid fa-user-secret text-success"></i>
                    Author
                </label>
                <input name="author" type="text" id="author" class="form-control" placeholder="Author" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="text-white" for="description">
                <i class="fa-solid fa-file-lines text-info"></i>
                Description
            </label>
            <textarea class="w-100" name="description" id="description"  rows="3" placeholder="Description" required="required"></textarea>
        </div>
        <div class="form-group">
            <label class="text-white" for="image">
                <i class="fa-solid fa-images text-dark"></i>
                Image
            </label>
            <input name="image" type="text" class="form-control" id="image" placeholder="Link image" required="required">
        </div>
            <div class="form-group">
                <label class="text-white" for="mp4">
                    <i class="fa-solid fa-photo-film text-primary"></i>
                    Link Mp4
                </label>
                <input name="mp4" type="text" class="form-control" id="mp4" placeholder="Link mp4" required="required">
            </div>

        <button class="btn btn btn-danger btn-md mt-4 float-right">
            <i class="fa-solid fa-wrench text-warning"></i>
            Add New Song
            </button>
    </form>
</div>