* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

.music-breadcrumb {
  width: 100%; }

.card-song {
  height: 420px; }

.img-song {
  width: 100%;
  height: 150px;
  min-height: 150px;
  min-width: 100%;
  background-size: cover; }

.title-song {
  font-size: 24px;
  font-weight: bold;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.desc-song {
  font-size: 18px;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; }

.title-detail-song {
  color: #fff;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: end; }

.title-detail-sm-song {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px; }

.badge-song {
  margin-left: 20px; }
