<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-text-bold text-danger" href="#!">MUSIC PAGE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin Page</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu pb-0 drop-btn" aria-labelledby="navbarDropdown">
          <a class="dropdown-item changeName-btn" href="/user/name">Change Name</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item changePassword-btn" href="/user/password">Change Password</a>
          <div class="dropdown-divider"></div>
          <a dis class="dropdown-item logout-btn pb-2 pt-0 text-danger" href="/login">Log Out</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var dropBtn = $('.drop-btn');

    var cookies =document.cookie
      .split(';')
      .map(cookie => cookie.split('='))
      .reduce((accumulator, [key, value]) => 
        ({ ...accumulator, [key.trim()]: decodeURIComponent(value)}), {})

    if (!cookies.loginId) {
      dropBtn.addClass('d-none');
    }
  })
</script>