<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand font-text-bold text-danger" href="#!">MUSIC PAGE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button style="border: none; background-color: unset; outline: none; cursor: pointer;" id="home-btn" class="nav-link text-white">Home</button>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin">Admin Page</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu pb-0 drop-btn" aria-labelledby="navbarDropdown">
          <a class="dropdown-item changeName-btn" href="/user/name">Change Name</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item changePassword-btn" href="/user/password">Change Password</a>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item logout-btn pb-2 pt-0 text-danger" href="/login">Log Out</button>
        </div>
      </li>
    </ul>
    <form method="get" action="/search" class="form-inline my-2 my-lg-0">
      <input name="q" class="search-input form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required="required">
      <button class="search-btn btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var logoutBtn = document.querySelector('.logout-btn');
    var dropBtn = $('.drop-btn');
    var searchInput = $('.search-input');
    var searchBtn = $('.search-btn');
    var homeBtn = document.getElementById('home-btn');

    var cookies =document.cookie
      .split(';')
      .map(cookie => cookie.split('='))
      .reduce((accumulator, [key, value]) => 
        ({ ...accumulator, [key.trim()]: decodeURIComponent(value)}), {})

    if (!cookies.loginId) {
      dropBtn.addClass('d-none');
      searchInput.attr('disabled', true);
      searchBtn.attr('disabled', true);
    }

    logoutBtn.onclick = function () {
        location.href = "/login";
    };

    homeBtn.onclick = function () {
        location.href = "/";
    };
  })
</script>