<div class="container-fluid">
    <div class="container mt-4">
        {{#if message}}
        <div class="alert alert-{{type}}" role="alert">
        <strong>{{intro}}</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{/if}}
</div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" action="/user/password/{{loginId}}?_method=PATCH" style="background-color: rgba(250, 235, 215, 0.687); margin: 80px 0;" class="p-4 rounded">
                <div class="form-group">
                    <label style="font-size: large;" class="font-weight-bold text-info" for="current-password">Current Password</label>
                    <input required="required" name="currentPassword" type="password" class="form-control form-control-lg" id="current-password" aria-describedby="emailHelp"
                        placeholder="Current password">
                </div>
                <div class="form-group">
                    <label style="font-size: large;" class="font-weight-bold text-info" for="new-password">New Password</label>
                    <input required="required" name="newPassword" type="password" class="form-control form-control-lg" id="new-password" placeholder="New password">
                </div>
                <div class="form-group">
                    <label style="font-size: large;" class="font-weight-bold text-info" for="confirm-password">Repeat Password</label>
                    <input required="required" name="confirmPassword" type="password" class="form-control form-control-lg" id="confirm-password" placeholder="Repeat password">
                </div>
                <button type="submit" class="btn btn-danger btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>